@import '../../styles/fonts.css';

.header {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  transition: 0.5s ease;
}

.headerOpen {
  background-color: #000;
  color: #fff;
}

.logo {
  margin-bottom: 57px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.navbarToggler {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
}

@media(min-width: 576px) {
  .header {
    padding: 40px 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .headerOpen {
    background-color: none;
    color: #000;
  }

  .logo {
    width: 140px;
    margin: 0;
    font-size: 24px;
  }

  .navbarToggler {
    display: none;
  }
}