@import '../../../styles/fonts.css';

.footerLinks {
  padding: 30px 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.footerSection:nth-child(even) {
  margin-left: auto;
}

.footerTitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.footerTitle:first-child {
  margin-bottom: 16px;
}

.footerSection > div:not(:last-child), .footerSection li:not(:last-child) {
  margin-bottom: 20px;
}

.detailsItem {
  display: flex;
  flex-direction: column;
}

.iconWrapper {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.detailsIcon {
  margin: 0 5px 14px 0;
}

.br {
  display: none;
}

@media (min-width: 576px) {
  .footerLinks {
    padding: 30px 96px 0 20px;
    grid-template-columns: 1fr auto auto auto;
    column-gap: 60px;
    font-size: 16px;
  }

  .footerTitle {
    font-size: 18px;
  }

  .footerSection > div:not(:last-child), .footerSection li:not(:last-child) {
    margin-bottom: 24px;
  }

  .detailsItem {
    flex-direction: row;
  }

  .detailsLabel {
    margin-left: 20px;
  }

  .detailsIcon {
    margin: 0 5px 0 0;
  }

  .br {
    display: block;
  }
}