.contactCard {
  width: 1196px;
  height: 667px;
  margin: 50px auto;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
}

.cardSections {
  display: flex;
}

.shipImg {
  position: absolute;
  bottom: -36px;
  right: 133px;
}