@import '../../../styles/fonts.css';

.subscrForm {
  width: 304px;
  height: 184px;
  margin: 0 auto;
  padding: 14px 13px 21px 14px;
  background-color: #131313;
  border-radius: 10px;
}

.subscrTitle {
  margin-bottom: 29px;
}

.credentials {
  width: 100%;
  height: 39px;
  margin-bottom: 19px;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
}

.subscrInput, .subscrButton {
  height: 100%;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.subscrInput {
  padding-left: 10px;
  flex: 1;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 11px;
}

.subscrInput::placeholder {
  color: #616161;
}

.subscrButton {
  width: 105px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.comment {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
}

@media (min-width: 576px) {
  .subscrForm {
    margin: 19px 0 0 auto;
  }
}