.footer {
  padding: 20px 20px 35px;
  background-color: #000;
  color: #fff;
}

.logo {
  padding-bottom: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
 
@media (min-width: 576px) {
  .footer {
    padding: 80px 80px 66px;
  }

  .footerContent {
    display: flex;
  }

  .logo {
    padding-bottom: 45px;
  }
}