@import '../../../styles/globals.css';

.navContainer {
  width: 100%;
}

.navMenu {
  display: none;
}

.openedMenu {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.openedMenu .profileIcon, 
.openedMenu .cartIcon {
  border-color: #fff;
}

.navItem a, .featuresItem {
  padding: 0;
}

.navItem a:active {
  font-weight: 700;
}

.navItem a.selected {
  font-weight: 700;
}

.navItem:not(:last-child) {
  margin: 0 27px 30px 0;
}

.featuresMenu {
  display: none;
  position: absolute;
  padding: 0;
  list-style: none;
}

.featuresLink:hover {
  border: 0;
}

.featuresLink:hover .featuresMenu {
  display: block;
}

.featuresItem {
  background-color: #000;
}

.featuresItem:first-child {
  border-top: 10px solid transparent;
}

.featuresItem a {
  padding: 10px;
}

.chevronDownIcon {
  width: 12px;
  margin-left: 7px;
}

.icons {
  margin: 0 auto;
  margin-top: 60px;
}

.profileIcon, .cartIcon {
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: content-box;
  overflow: visible;
  cursor: pointer;
}

.profileIcon {
  width: 16px;
  height: 17px;
  padding: 8px;
}

.cartIcon {
  width: 18px;
  height: 18px;
  padding: 7px;
  margin-left: 36px;
}

@media(min-width: 576px) {
  .navMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  .navList {
    display: flex;
  }

  .navItem:not(:last-child) {
    margin: 0 27px 0 0;
  }

  .navItem a, .featuresItem {
    padding: 10px;
  }

  .featuresItem {
    background-color: transparent;
  }

  .icons {
    margin: 0 0 0 50px;
  }
}