.contactInfo {
  margin: 5px;
  padding: 15px 40px 25px;
  border-radius: 5px 5px 0 5px;
  background-color: #000;
  color: #fff;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.infoTitle {
  margin-bottom: 6px;
  font-size: 20px;
}

.infoSubtitle {
  color: #C9C9C9;
  font-weight: 400;
  font-size: 11px;
}

.details {
  margin: 12px 0 58px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 12px;
}

.detailsGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsImg {
  margin-right: 25px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia {
  display: flex;
  margin: 0 auto;
  z-index: 1;
}

.detailsIcon {
  width: 30px;
  height: 30px;
  margin-right: 24px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B1B1B;
  color: #fff;
  transition: 0.3s ease-in;
}

.detailsIcon:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.detailsIcon svg {
  width: 15px;
  height: 15px;
}

.circImg {
  width: 109px;
  height: 109px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 576px) {
  .contactInfo {
    width: 491px;
    height: 647px;
    margin: 10px;
    padding: 40px 40px 36px;
    border-radius: 10px 10px 0 10px;
    text-align: start;
  }

  .infoTitle {
    font-size: 28px;
    margin: 0;
  }
  
  .infoSubtitle {
    color: #C9C9C9;
    font-weight: 400;
    font-size: 18px;
  }

  .details {
    margin: 111px 0 159px;
    gap: 50px;
    font-size: 16px;
  }

  .detailsGroup {
    flex-direction: row;
    align-items: flex-start;
  }

  .socialMedia {
    margin: 0;
  }

  .circImg {
    width: 210px;
    height: 210px;
  }
}